
@{
    ViewBag.Title = "List";
}



<div>
  
    <h1>Nadim Hossain</h1>
    <h3>web developer</h3>
    <h2>Personal Information:</h2>
    <br>

    <pre>
      Name: <B>Nadim Hossain</B>
      DOB:14 july ****
      Gender:Male
      Phone:+880**********
      Email address:nadim98hossain@gmail.com
    </pre>

    <h2>Educational Background:</h2>
    <pre>
      SSC:Nawabpur Govt High School (2015)
      HSC:Milestone College (2017)
      BSc in CSE:American International UNiversity Bangladesh (Studying)
    </pre>

    <h2><b>Skills:</b></h2>

    <h2>Programming Skills</h2>

    <ul type="square">
        <li>c,c++,c#</li>
        <li>python</li>
        <li>Java</li>
        <li>HTML5</li>
        <li>CSS3</li>
    </ul>

    <h2>Computer skills:</h2>

    <ul type="Square">
        <li>Microsoft office</li>
        <li>email and internet tools</li>
        <li>Operating System: windows,linux,mac os</li>
    </ul>

    <h2>Comunication Skilss:</h2>

    <ul type="square">
        <li>Bangla</li>
        <li>English</li>
        <li>Hindi</li>
    </ul>



</div>



